<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.kr.mychoice.tripmap20">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo220"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo220"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tripmap20">
        <activity
            android:name=".conts.ContsFlbt2Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".conts.ContsFlbtActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".conts.ContsPntActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".conts.SettingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".conts.PayActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".conts.Cte20ContsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".conts.Cte20Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.PlaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.ContsFindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".log.LogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.ContsImage3Activity"
            android:exported="false" />
        <activity
            android:name=".log.ChkLog20Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.ModfyActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.MemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".log.Reg2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".log.RegActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.MapContsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/pop" />
        <activity
            android:name=".conts.GetSendStrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.SendstrActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".conts.Cte2RegActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.CteRegActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".log.ChkLog2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.UserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.ContsPlusbtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.Conts_Str_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".conts.ContsImage2Activity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".conts.ContsImageActivity"
            android:exported="false" />
        <activity
            android:name=".TrActivity20"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrPlaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="co.kr.mychoice.tripmap20.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LogoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tripreviewnet.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>